*{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
  background-color: rgb(37,9,37);
  color: white;
  height: 75px;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}
nav ul{
  list-style-type: none;
}
.gameContainer{
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:50px ;

}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box{
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
 
}
.boxtext{
 display: flex;
  justify-self: center;
  align-items: center;
}

.box:hover{
  background-color: rgb(122, 64, 176); 
}
.gameInfo{
  padding: 0 34px;
  font-family: Arial, Helvetica, sans-serif;
}
.imgbox img{
 width: 0;
}

.br-0{
  border-right: 0;
}
.bl-0{
  border-left: 0;
}
.bt-0{
  border-top: 0;
}
.bb-0{
  border-bottom: 0 ;
}