*{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
  background-color: rgb(37,9,37);
  color: white;
  height: 75px;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}
nav ul{
  list-style-type: none;
}


.gameContainer{
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:50px ;

}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}

.box{
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
 
}
.boxtext{
 display: flex;
  justify-self: center;
  align-items: center;
}

.box:hover{
  background-color: rgb(122, 64, 176); 
}
.info{
  font-size: 25px;
}
.gameInfo{
  padding: 0 34px;
  font-family: Arial, Helvetica, sans-serif;
}
  .gameInfo h1{
      font-size: 2.5rem;
  }
.imgbox img{
 width: 0;
 transition: width 1s ease-in-out;
}

.br-0{
  border-right: 0;
}
.bl-0{
  border-left: 0;
}
.bt-0{
  border-top: 0;
}
.bb-0{
  border-bottom: 0 ;
}
#reset{
  background: rgb(204, 148, 204);
  color: rgb(255, 255, 255);
  margin: 0 20px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}
.line{
  background-color: rgb(100, 29, 198);
  height: 3px;
 width: 0;
  position: absolute;
  transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px) {
  .gameContainer{
   flex-wrap: wrap;
  }
  .gameInfo{
    margin-top: 34px;
  }
  .gameInfo h1{
      font-size: 1.5rem;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(3,20vw);
    grid-template-rows: repeat(3,20vw);
  }
}